#bn1 {display: flex;
    justify-content: center;
}
#bn2 {display: flex;
    justify-content: center;
}
#bn3 {display: flex;
    justify-content: center;
}
#bn4 {display: flex;
    justify-content: center;
}
#bn5 {display: flex;
    justify-content: center;
}
#bn6 {display: flex;
    justify-content: center;
}
#bn7 {display: flex;
    justify-content: center;
}
#bn8 {display: flex;
    justify-content: center;
}
#bn9 {display: flex;
    justify-content: center;
}